name: Publish to Guardrails Hub

on:
  workflow_dispatch:
  push:
    branches:
      - release

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Build & Deploy
        uses: guardrails-ai/guardrails/.github/actions/validator_pypi_publish@main
        with:
          guardrails_token: ${{ secrets.PRIV_PYPI_PUBLISH_TOKEN }}
          validator_id: mlcube/rag_retrieval